target/
.DS_STORE
.idea/*
*.iml
.settings/*
javadocs/*
.classpath
.project
logs/
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
